<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Transaction</title>
  </head>
  <body>
    <%- include('header'); -%>

    <main
      id="transaction-main"
      data-chain="<%=chain %>"
      data-chainid="<%=chainid %>"
      data-paymentcontractaddress="<%=paymentcontractaddress %>"
      data-id="<%=id %>"
      data-twitterid="<%=twitterid %>"
    >
      <% if (invalid) { %>
      <article><p class="text-align-center">Not Found</p></article>
      <%} else { %> <% if (finished) {%>
      <article><p class="text-align-center"><%=finishedMessage %></p></article>
      <%} else {%>
      <article>
        <h3 class="text-align-center"><%=amount %> <%=currency %></h3>

        <% if (refund) { %>
        <input
          id="2fa-code"
          class="max-width-300 center borderRadius-25"
          type="text"
          placeholder="Auth Code"
        />
        <div id="errorSlot"></div>
        <p class="text-align-center">0.2% Fee</p>
        <button id="refund-button" class="max-width-200 center">Refund</button>
        <% } %> <% if (withdraw) { %>
        <input
          id="2fa-code"
          class="max-width-300 center borderRadius-25"
          type="text"
          placeholder="Auth Code"
        />
        <div id="errorSlot"></div>
        <p class="text-align-center">0.2% Fee</p>
        <button id="withdraw-button" class="max-width-200 center">
          Withdraw
        </button>
        <% } %>
      </article>
      <% } %> <% } %>
    </main>
  </body>
  <script src="/js/web3.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/transaction.js"></script>
</html>
